apiVersion: v1
kind: PersistentVolume
metadata:
  name: odoo-dump-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  azureFile:
    secretName: azure-storage-secret
    shareName: odoo-dumps
    readOnly: false
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: odoo-dump-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: ""   # explicitly empty so it matches the PV
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: odoo-config
data:
  odoo.conf: |
    [options]
    addons_path = /mnt/extra-addons
    admin_passwd = $pbkdf2-sha512$600000$S4kxhrB2rlXqXYtRCkEoBQ$czp/3OMssJsLjxYSprTFC9AC0K2BAlR1XRDcRNNWYpHUc7v4U4VSQNJM13JD6Wk4Qs2GooM0OLZ99SM7YeE8iA
    db_host = futminna-postgres.postgres.database.azure.com
    db_port = 5432
    db_user = odoo
    db_password = odoo
    list_db = True
    log_level = info
    http_port = 8069
    gevent_port = 8072
    server_wide_modules = base,web
    workers = 2
    csv_internal_sep = ,
    data_dir = /var/lib/odoo/sessions
    geoip_city_db = /usr/share/geoip/GeoLite2-City.mmdb
    geoip_country_db = /usr/share/geoip/GeoLite2-Country.mmdb
    screenshots = /tmp/odoo_tests
