apiVersion: apps/v1
kind: Deployment
metadata:
  name: odoo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: odoo
  template:
    metadata:
      labels:
        app: odoo
    spec:
      containers:
      - name: odoo
        image: legacyg/dbms-itcloud-image:odoo18-futminna
        ports:
        - containerPort: 8069
        env:
        - name: DB_HOST
          value: futminna-postgres.postgres.database.azure.com
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: odoo-db-secret
              key: POSTGRES_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: odoo-db-secret
              key: POSTGRES_PASSWORD
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: odoo-db-secret
              key: POSTGRES_DB
        volumeMounts:
        - name: odoo-config
          mountPath: /etc/odoo/odoo.conf
          subPath: odoo.conf
      volumes:
      - name: odoo-config
        configMap:
          name: odoo-config
          items:
          - key: odoo.conf
            path: odoo.conf
---
apiVersion: v1
kind: Service
metadata:
  name: odoo-service
spec:
  type: LoadBalancer
  selector:
    app: odoo
  ports:
  - port: 80
    targetPort: 8069
