apiVersion: apps/v1
kind: Deployment
metadata:
  name: odoo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: odoo
  template:
    metadata:
      labels:
        app: odoo
    spec:
      containers:
        - name: odoo
          image: legacyg/dbms-itcloud-image:odoo18-futminna
          ports:
            - containerPort: 8069
          env:
            - name: HOST
              value: postgres
            - name: USER
              value: odoo
            - name: PASSWORD
              value: odoo
          volumeMounts:
            - name: odoo-config
              mountPath: /etc/odoo
              readOnly: true
            - name: odoo-addons
              mountPath: /mnt/extra-addons
      volumes:
        - name: odoo-config
          configMap:
            name: odoo-config
        - name: odoo-addons
          emptyDir: {}

